@model IEnumerable<FinanceAdvisor.Web.Models.AdvisorViewModel>
@{
    ViewData["Title"] = "Advisors";
}

<h2>Advisors</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Specialization</th>
            <th>Created At</th>
            <th>Is Deleted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var advisor in Model)
        {
            <tr>
                <td>@advisor.AdvisorName</td>
                <td>@advisor.Specialization</td>
                <td>@advisor.CreatedAt.ToString("yyyy-MM-dd")</td>
                <td>@advisor.IsDeleted</td>
                <td>
                    <a href="/Admin/AdvisorManagement/Edit/@advisor.AdvisorId" class="btn btn-sm btn-primary">Edit</a>
                    @if (!advisor.IsDeleted)
                    {
                        <form action="/Admin/AdvisorManagement/Delete" method="post" class="d-inline">
                            @Html.AntiForgeryToken();
                            <input type="hidden" name="id" value="@advisor.AdvisorId" />
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                    }
                    else
                    {
                        <form action="/Admin/AdvisorManagement/Restore" method="post" class="d-inline">
                            @Html.AntiForgeryToken();
                            <input type="hidden" name="id" value="@advisor.AdvisorId" />
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Restore</button>
                        </form>
                    }

                </td>
                @if(advisor.IsDeleted == false)
                {
                    <td>
                        <form method="post" action="/Admin/AdvisorManagement/UpdateRole">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@advisor.UserId" />
                            <input type="hidden" name="advisorId" value="@advisor.AdvisorId" />
                            <select name="role" class="form-control" asp-items="Html.GetEnumSelectList<FinanceAdvisor.Domain.Enums.Roles>()">
                            </select>
                            <button type="submit" class="btn btn-sm btn-secondary mt-1">Change</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
